@use "./components/" as c;
@use "./utils/" as u;
@use "./layouts/" as l;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: u.font(title);
}

p,
a,
button,
input,
label {
  font-family: u.font(text);
}

// SKIP TO CONTENT
.skipLink {
  position: absolute;
  top: 0;
  left: 0;
  background-color: u.color(primary__light-pink);
  padding: 0.75rem;
  color: black;
  font-weight: u.weight(bold);
  transform: translateY(-100%);
  transition: 200ms ease;

  &:focus {
    transform: translateY(0);
  }

  &:focus-visible {
    outline: 0.25rem solid black;
  }
}

.navbar {
  @include c.navbar(u.color(neutral__white));

  #{&}__brand {
    padding: 0.75rem 1rem;
    border-radius: 5rem;

    &:focus-visible {
      outline: 0.125rem dotted black;
    }
  }
  #{&}__brand-logo {
    max-width: 7.5rem;

    @media screen and (width > 50rem) {
      max-width: 12.5rem;
    }
  }
}

.btn-border {
  @include c.ButtonBorder(
    u.color(primary__pink),
    transparent,
    u.color(primary__pink),
    0.5rem,
    1rem,
    u.weight(semibold)
  );

  @media screen and (width > 50rem) {
    font-size: var(--step-0);
    padding: 0.75rem 1.5rem;
  }
}

// SECTION TWO COLUMN LAYOUT
.content__cols {
  @include l.contentCols;
}

// HERO
.hero {
  #{&}__text-content {
    padding: 2rem;
    text-align: center;

    @media screen and (width > 50rem) {
      padding: 5rem 15rem;
    }
  }

  #{&}__heading {
    font-size: var(--step-2);
    margin-bottom: 1rem;

    @media screen and (width > 50rem) {
      font-size: var(--step-3);
    }
  }

  #{&}__text {
    font-size: var(--step--1);

    @media screen and (width > 50rem) {
      font-size: var(--step-0);
    }
  }

  //   BUTTON WRAPPER
  #{&}__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
  }

  #{&}__image-content {
    padding: 2rem;

    @media screen and (width > 50rem) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .hero__image {
    @media screen and (width > 50rem) {
      max-width: 50rem;
    }
  }
}

// PRIMARY BUTTON
.btn-primary {
  @include c.PrimaryButton(
    u.color(primary__pink),
    u.color(neutral__white),
    1.25rem,
    1.25rem,
    u.weight(bold)
  );
  font-size: var(--step--1);

  @media screen and (width > 50rem) {
    font-size: var(--step-0);
    max-width: fit-content;
    padding-inline: 2.25rem;
  }
}

// STATS
.stats {
  #{&}__container {
    @include l.statsCols;

    @media screen and (width > 50rem) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  #{&}__item {
    text-align: center;
    padding: 2rem;
  }

  #{&}__image-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #{&}__icon {
    max-width: 2rem;

    @media screen and (width > 50rem) {
      max-width: 5rem;
    }
  }

  #{&}__heading {
    font-size: var(--step-4);

    @media screen and (width > 50rem) {
      font-size: var(--step-5);
    }
  }

  #{&}__text {
    font-size: var(--step--1);

    @media screen and (width > 50rem) {
      font-size: var(--step-0);
    }
  }
}

// GROW TOGETHER
.grow-together {
  background-color: u.color(neutral__very-pale-blue);

  #{&}__top-curve {
    position: absolute;
    width: 100%;
    height: auto;
    top: -100px;
    left: 0;

    @media screen and (width > 50rem) {
      top: -150px;
    }
  }

  #{&}__bottom-curve {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -45px;
    left: 0;

    @media screen and (width > 50rem) {
      bottom: -105px;
    }
  }
}

// YOUR USERS CURVES
.users {
  background-color: u.color(neutral__very-pale-blue);

  #{&}__curve-top {
    position: absolute;
    width: 100%;
    height: auto;
    top: -100px;
    left: 0;
  }

  #{&}__curve-bottom {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -125px;
    left: 0;
  }
}

// READY TO BUILD YOUR COMMUNITY
.getStartedToday {
  text-align: center;

  #{&}__btn-center {
    padding: 2rem;

    @media screen and (width > 50rem) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// FOOTER
.footer__bottom {
  background-color: u.color(neutral__very-dark-cyan);
  position: relative;

  #{&}__curve-top {
    position: absolute;
    top: -55px;
    left: 0;
    width: 100%;
    height: auto;

    @media screen and (width > 50rem) {
      top: -145px;
    }
  }

  .footer__cols {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media screen and (width > 50rem) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20rem;
    }
  }

  .footer__section {
    padding: 2rem;
    color: u.color(neutral__white);

    @media screen and (width > 50rem) {
      & {
        padding: 4rem;
      }

      &:first-child {
        order: 2;
      }
    }

    .footer__heading {
      font-size: var(--step-1);
      text-transform: uppercase;
      margin-bottom: 1rem;

      @media screen and (width > 50rem) {
        font-size: var(--step-2);
      }
    }

    .footer__section-text,
    .footer__text {
      font-size: var(--step--1);
      margin-top: 1rem;

      @media screen and (width > 50rem) {
        font-size: var(--step-0);
      }
    }

    .footer__form {
      margin-block: 1rem;

      .footer__form-label {
        margin-bottom: 1rem;
        display: block;
      }
    }

    .footer__form-submit {
      @include c.SubmitButton(
        u.color(primary__pink),
        u.weight(bold),
        0.75rem,
        1rem,
        u.color(neutral__white)
      );
    }

    .footer__form-cols {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .footer__list-item {
    list-style-position: outside;
    font-size: var(--step--1);

    @media screen and (width > 50rem) {
      font-size: var(--step-0);
    }
  }

  .footer__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 2rem;
  }

  .footer__phone {
    list-style-image: url("../assets/images/icon-phone.svg");
    padding-left: 0;
  }

  .footer__email {
    list-style-image: url("../assets/images/icon-email.svg");
    padding-left: 0;
  }

  .footer__social-icons {
    display: flex;
    gap: 1rem;
    justify-content: start;
    list-style: none;
    margin-block: 1rem;
    margin-left: 0;
    padding-left: 0;

    .footer__social-icon {
      text-decoration: none;
      color: u.color(neutral__white);
      display: block;
      outline-offset: 0.15rem;

      @media screen and (width > 50rem) {
        font-size: var(--step-0);
      }

      &:hover {
        opacity: 0.75;
      }

      &:focus-visible {
        outline: 2px dotted white;
      }
    }
  }
}

.label-and-error {
  display: flex;
  justify-content: space-between;
}

// error state
.footer__error-text {
  font-weight: u.weight(semibold);
  color: #ff7280;
  display: none;
}

.error-display {
  display: block;
}
