@mixin ButtonBorder($color, $bg, $border, $py, $px, $wght) {
  padding: $py $px;
  font-weight: $wght;
  border-radius: 5rem;
  display: block;
  text-transform: capitalize;
  border: 1px solid $border;
  color: $color;
  background-color: $bg;
  outline-offset: 0.125rem;
  text-decoration: none;
  transition: 150ms ease;
  transition-property: opacity, scale;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    scale: 0.985;
  }

  &:focus-visible {
    outline: 0.125rem dotted black;
  }
}

@mixin PrimaryButton($bg, $color, $px, $py, $wght) {
  padding: $py $px;
  flex: 1;
  border-radius: 5rem;
  text-decoration: none;
  background-color: $bg;
  color: $color;
  font-weight: $wght;
  display: block;
  min-width: fit-content;
  outline-offset: 0.125rem;
  text-decoration: none;
  transition: 150ms ease;
  transition-property: opacity, scale;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    scale: 0.985;
  }

  &:focus-visible {
    outline: 0.125rem dotted black;
  }
}

@mixin SubmitButton($bg, $wght, $px, $py, $color) {
  padding: $py $px;
  color: $color;
  background-color: $bg;
  cursor: pointer;
  font-size: var(--step--1);
  font-weight: $wght;
  border-radius: 0.5rem;
  display: block;
  border: none;
  min-width: fit-content;
  outline-offset: 0.125rem;
  transition: 150ms ease;
  transition-property: opacity, scale;

  @media screen and (width > 50rem) {
    & {
      max-width: 15rem;
    }
  }

  &:hover {
    opacity: 0.75;
  }

  &:active {
    scale: 0.985;
  }

  &:focus-visible {
    outline: 0.125rem dotted white;
  }
}
